<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Samrt Wallet :: Stevens institute of Technology</title>
		<link href='http://fonts.googleapis.com/css?family=Devonshire' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
  </head>
  
  <body>
  <div class="container-fluid">
	<div class="jumbotron">
	<div class="signupName" style="font-family: 'Devonshire', cursive;">Signup</div>
	<div class="loginIP">
		<form role="form">
			<div class="form-group">
			<input type="text" class="form-control1" id="fname"
			placeholder="firstname">
			<input type="text" class="form-control1" id="lname"
			placeholder="lastname">
			<input type="text" class="form-control1" id="mailid"
			placeholder="mail@example.com">
			<input type="password" class="form-control1" id="Lpwd"
			placeholder="password">
			<input type="password" class="form-control1" id="confirmpwd"
			placeholder="re-type password">
			</div>
			
			
			<!-- <div class="form-group">
			<label for="inputfile">File input</label>
			<input type="file" id="inputfile">
			</div> -->
			<div class="loginSubmit">
			<a class="signupbtn btn-primary btn-block" href="login" role="button"> sign-up </a>
			
		</form>
			</div>
			<div class="page-footer">
			Stevens institute of technology
			<br>New Jersey
			</div>
	</div>
 </div>
 <div class="container-fluid">
	<div class="jumbotron1">
	<div class="jumbotron2">
	<img src="static/SIGNUP_LOGO.PNG" alt="Smiley face" height="420" width="420">
 </div>
 </div>
 
 </div>
	
  </body>
 </html>
 